/* Ajustes para o carrossel */

.carousel {
    margin-top: 0; /* Garante que não há margem extra */
    padding-top: 0; /* Remove qualquer espaçamento */
    position: relative;
    top: 0; /* Garante que ele fique colado no topo */
}

.carousel-inner {
    height: 100%;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
}


.rating {
    direction: rtl;
    display: inline-block;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    color: #ddd;
    font-size: 24px;
    padding: 0;
    cursor: pointer;
}

.rating input[type="radio"]:checked ~ label {
    color: gold;
}

/* Ajuste para o footer ficar no final */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto; /* Isso empurra o footer para o fundo da tela */
}