{% extends "base.html" %}

{% block content %}
<style>
  /* Oculta a barra de rolagem */
  .scroll-container {
      overflow-x: auto;
      white-space: nowrap;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE e Edge */
  }

  .scroll-container::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
  }

  /* Adicionando a mesma regra para outras seções */
  #carousel-filmes,
  .recommendations-container {
      overflow-x: auto;
      white-space: nowrap;
      scrollbar-width: none;
      -ms-overflow-style: none;
  }

  #carousel-filmes::-webkit-scrollbar,
  .recommendations-container::-webkit-scrollbar {
      display: none;
  }


  .card-img-top {
    height: 240px; /* Defina a altura desejada */
    object-fit: cover; /* Faz a imagem preencher o espaço sem distorcer */
    width: 100%; /* Garante que a largura se ajuste ao card */
  }

  #carousel-filmes {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; /* Para Firefox */
    -ms-overflow-style: none; /* Para IE e Edge */
  }

  #carousel-filmes::-webkit-scrollbar {
      height: 6px; /* Espessura da scrollbar */
  }

  #carousel-filmes::-webkit-scrollbar-thumb {
      background-color: #888; /* Cor da scrollbar */
      border-radius: 10px;
  }

</style>


<main>
  <!-- Carrossel -->
<div id="carouselFilmes" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    {% if filmes_recentes == [] %}
      <div class="carousel-item active">
          <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Imagem 1">
      </div>
      <div class="carousel-item">
          <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Imagem 2">
      </div>
      <div class="carousel-item">
          <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Imagem 3">
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
      </button>
    {% else %}
      {% for filme in filmes_recentes[::-1][:3] %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          <img src="{{ filme.imagem }}" class="d-block w-400" alt="{{ filme.nome }}">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>{{ filme.nome }}</h1>
              <p class="opacity-75">{{ filme.descricao }}</p>
              <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" 
                data-bs-target="#modalFilme{{ filme.id }}">
                Ver mais
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
       <!-- Controles do carrossel -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselFilmes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselFilmes" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
    {% endif %}
  </div>
{% for filme in filmes %}
  <!-- Modal de especificações do filme -->
  <div class="modal fade" id="modalFilme{{ filme.id }}" tabindex="-1" role="dialog" aria-labelledby="modalFilmeLabel{{ filme.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ filme.imagem }}" class="card-img-top" alt="{{ filme.nome }}">
            </div>
            <div class="modal-body">    
                <p><strong>Titulo:</strong> {{ filme.nome }}</p>
                <p><strong>Sinopse:</strong> {{ filme.descricao }}</p>
                <p><strong>Ano Lançado:</strong> {{ filme.ano }}</p>
                <p><strong>Gênero:</strong> {{ filme.genero }}</p>
                
                <!-- Exibir a média das avaliações -->
                <p><strong>Média das Avaliações:</strong> {{ filme.classificacao }} / 5</p>

                <!-- Formulário para avaliar o filme -->
                <form action="/avaliar_filme/{{ filme.id }}" method="POST">
                    <div class="form-group">
                        <label for="avaliacao">Avaliar filme:</label>
                        <div class="rating">
                            <input type="radio" name="rating" value="5" id="star5{{ filme.id }}"><label for="star5{{ filme.id }}">★</label>
                            <input type="radio" name="rating" value="4" id="star4{{ filme.id }}"><label for="star4{{ filme.id }}">★</label>
                            <input type="radio" name="rating" value="3" id="star3{{ filme.id }}"><label for="star3{{ filme.id }}">★</label>
                            <input type="radio" name="rating" value="2" id="star2{{ filme.id }}"><label for="star2{{ filme.id }}">★</label>
                            <input type="radio" name="rating" value="1" id="star1{{ filme.id }}"><label for="star1{{ filme.id }}">★</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-avaliar">Avaliar</button>
                </form>
                {% if user.admin %}
                  <form action="{{ url_for('remover_filme', filme_id=filme.id) }}" method="POST">
                      <button type="submit" class="btn btn-remover">Remover Filme</button>
                  </form>
                {% endif %}
            </div>
        </div>
    </div>
  </div>
{% endfor %}



<!-- Adicionados Recentemente -->
<div class="container mt-4 h-50">
  <h3>Adicionados Recentemente</h3>
  <div class="scroll-container"> <!-- ADICIONADO -->
    <div class="d-flex flex-row gap-3">
      {% for filme in filmes_recentes[::-1][:8] %}
          <div class="card" style="flex-shrink: 0; position: relative">
              <img src="{{ filme.imagem }}" class="card-img-top" alt="{{ filme.titulo }}">
              <div class="card-body">
                  <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" 
                    data-bs-target="#modalFilme{{ filme.id }}">
                    Ver mais
                  </a>
              </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Filmes Recomendados -->
{% if combined_preferences %}
<div class="container mt-4">
  <h3>Filmes recomendados</h3>
  <div class="scroll-container"> <!-- ADICIONADO -->
    <div class="d-flex flex-row gap-3">
        {% for filme in filmes_recomendados[:8] %}
            <div class="card" style="flex-shrink: 0; position: relative">
                <img src="{{ filme.imagem }}" class="card-img-top" alt="{{ filme.titulo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ filme.titulo }}</h5>
                    <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" 
                      data-bs-target="#modalFilme{{ filme.id }}">
                      Ver mais
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- Seções por Gênero -->
{% for genero, filmes in filmes_por_genero.items() %}
<div class="container mt-4">
  <h3>{{ genero }}</h3>
  <div class="scroll-container"> <!-- ADICIONADO -->
    <div class="d-flex flex-row gap-3">
        {% for filme in filmes[:8] %}
            <div class="card" style="flex-shrink: 0; position: relative">
                <img src="{{ filme.imagem }}" class="card-img-top" alt="{{ filme.titulo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ filme.titulo }}</h5>
                    <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" 
                      data-bs-target="#modalFilme{{ filme.id }}">
                      Ver mais
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endfor %}


</main>

{% endblock %}
